DB_PORT=3306
DB_USER=sticky-picky
DB_PASSWORD=qwerty
DB_ROOT_PASSWORD=qwerty
DB_NAME=sticky_picky

DEV_PROXY_PORT=8080
DEV_TUNNEL_DOMAIN=sticky-picky-dev.example.com
DEV_TUNNEL_NAME=sticky-picky-dev
DEV_TUNNEL_ID=
# DEV_TUNNEL_CREDENTIALS_FILE=/home/you/.cloudflared/sticky-picky-dev.json
