APP_DOMAIN=stickers.example.com
FRONTEND_VERSION=v2.0.0-rc.1
TRAEFIK_NETWORK=traefik
TRAEFIK_CERTRESOLVER=letsencrypt

DB_NAME=sticky_picky
DB_USER=sticky_picky
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_root_me

APP_HOST=0.0.0.0
APP_PORT=3000
